/* some custom typography style */

.prose a {
  color: var(--md-color);
  text-decoration: none;
  border-bottom: 1px dashed var(--md-color-deeper);
  transition: all linear .3s;
}

.prose a:hover {
  border-bottom: 1px solid var(--md-color-deeper);
}

/* headings style */
.prose h2 a,
.prose h3 a,
.prose h4 a {
  color: inherit;
  font-weight: inherit;
  border-bottom: 1px dashed rgb(125, 125, 125, 0);
}

.prose h2 a:hover,
.prose h3 a:hover,
.prose h4 a:hover {
  color: inherit;
  border-bottom: 1px dashed rgb(125, 125, 125, 1);
}

/* footnotes style */
.prose .footnotes {
  font-size: 12px;
  margin-top: 3.5em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  border-top: 1px dashed var(--md-color-lighter);
  color: var(--md-color-light);
}

.prose .footnotes h2 {
  display: none;
}

.prose .footnotes a,
.prose a[data-footnote-ref='true'] {
  color: inherit;
  font-weight: inherit;
  border-bottom: none;
}

.prose .footnotes a:hover,
.prose a[data-footnote-ref='true']:hover {
  color: inherit;
  border-bottom: none;
}

.prose a[data-footnote-ref='true']::before {
  content: '[';
}

.prose a[data-footnote-ref='true']::after {
  content: ']';
}

.prose .footnotes .data-footnote-backref {
  font-family: 'monospace';
}
